* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1, h2, p {
  color: var(--grey);
}

/* p {
  margin: 0;
  
} */

h2 { 
  grid-area: section-subheading;
}

.title {
  width: 400px;
  background-color: #A3D2C3;
}

/* colour palette */

:root {
  --teal: #A3D2C3;
  --grey: #676767;
  --transparent: linear-gradient(
    rgba(163, 210, 195, 0.7), 
    rgba(163, 210, 195, 0.7)
  );
}

/* nav bar */

h1 {
  grid-area: webpage-title;
  text-align: right;
  padding-right: 10px;
  resize: none;
}

header {
  background-color: var(--grey);
  padding: 20px 20px 20px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "webpage-title webpage-title webpage-title webpage-title navbar"
  ;
  grid-gap: 10px;
}

ul {
  grid-area: navbar;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: var(--teal);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

li a:hover {
  background-color: var(--teal);
  color: var(--grey);
}

/* page sections */

#about, #work {
  padding: 40px 40px 0px 10px;
}

#contact { padding: 40px 40px 40px 10px; }

/* banner */

.profile-img {
  grid-area: profile-img;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
  margin-top: 15px;
}

.hero-banner h2 {
  grid-area: heading-text;
  background-color: var(--teal);
  text-align: center;
  margin-left: 200px;
  margin-top: 150px;
}

.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
}

/* about section */

.p { grid-area: about-text; }

#about {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "section-subheading about-text"
  ;
  grid-gap: 10px;
}

/* projects section */

#project-1 { grid-area: project1; }
#project-2 { grid-area: project2; }
#project-3 { grid-area: project3; }
#project-4 { grid-area: project4; }
#project-5 { grid-area: project5; }

#work {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "section-subheading project1 project1"
    "section-subheading project2 project3"
    "section-subheading project4 project5"
  ;
  width: 100%;
}

.tile {
  position: relative;
  width: 100%;
  height: 200px;
  display: grid;
  cursor: pointer;
  opacity: 0.7;
}

.tile a {
  grid-row: 1; /* place in first row */
  grid-column: 1;  /* place in first column */
}

.project-img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border: 5pt solid var(--teal);
}

.tile h3 {
  position: absolute;
  bottom: 30px;
  background-color: var(--teal);
  padding: 10px;
}

.tile:hover {
  opacity: 1;
}

#work {
  display: grid;
  width: 100%;
  height: 700px;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "section-subheading project1 project1"
    "section-subheading project2 project3"
    "section-subheading project4 project5"
  ;
  grid-gap: 10px;
} 

/* contact section */

.email { grid-area: email;}
.linkedin {grid-area: linkedin;}
.github {grid-area: github;}

#contact {
  display: grid;
  width: 100%;
  grid-template-columns: 200px 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
    "section-subheading email linkedin github"
  ;
  column-gap: 50px;
  justify-content: center;
  align-items: center;
}

#contact p, #contact a {
  text-align: center;
}

#contact a {
  color: rgb(99, 143, 246);
}